@import "tailwindcss";

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #F9F3F5;
  width: 100%;
  display: table;
}

footer {
  display: table-row;

}
a, button {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

li {
  display: inline-block;
}


.container {
  background: white;
  max-width: 95%;
  margin: 10px auto;
  padding: 20px 10px;
  border: 1px solid #dccfde;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* .reviews > * {
  border: 1px solid red;
} */

.reviewList {
  background: #F9F3F5;
  padding: 10px;
  margin: 0 auto;
  max-width: 100%;
}



.reviews p {
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.reviewItem {
  /* justify-content: center; */
  gap: 10px;
  width: 100%;
  /* max-height: max-content; */
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220); 
  padding: 15px;
  margin: 10px auto;
  background: white;
  flex-wrap: wrap; 
}

.property-card {
  padding: 5px;
}

.property-card-img {
  border-radius: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* .custom-toolbar {
  margin: 0 auto;
} */

.favourited{
  filter: invert(7%) sepia(89%) saturate(6270%) hue-rotate(351deg) brightness(134%) contrast(121%);
}

.property {
  text-align: center;
}

.expandable {
  background: inherit;
  border: none;
  border-bottom: 1px solid grey;
  cursor: none;
}

.expandables {
  flex-direction: column;
}

.toolbar {
  /* border: 1px solid red; */
  background: #FFF7FA;
  padding: 20px;
  justify-content: center;
  border: 1px solid rgb(236, 191, 191);
}

.toolbar div {
  display: flex;
  justify-content: center;
  /* max-width: 300px; */
  margin: 10px auto;
}

.btn {
  /* border: 1px solid grey; */
  padding: 10px 50px;
  margin: 10px auto;
  background: #BD003F;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.btn:disabled,
.btn-disabled {
  background: #dccfde;
  color: black;
  border: 1px solid grey;
  padding: 10px 50px;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 8px;
}

.btn:hover,
.property-card-img:hover,
.chevrons:hover {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.accent {
  accent-color: #BD003F;
}

.stars {
  justify-content: center;
  gap: 5px;
}

.checked {
  filter: invert(90%) sepia(43%) saturate(773%) hue-rotate(6deg) brightness(100%) contrast(102%);
}

.unchecked {
  filter: invert(57%) sepia(1%) saturate(3484%) hue-rotate(25deg) brightness(81%) contrast(88%);
}

.signup-form {
  padding: 0px 35%
}

.signup-form label {
  margin-bottom: 10px;
}

.signup-form input {
  margin-bottom: 10px;
  border: 1px solid grey;
  padding: 10px
}

.small-container {
  background: white;
  border: "none";
}



/* .signup-form label {
  text-align: end;
  line-height: 2.5em;
} */

.user-card {
  width: 40%;
  gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.user-card-info {
  font-weight: bold;
  text-align: center;
  gap: 0.3em;
}

.menu-dropout {
  display: none;
}

.auth-options {
  display: flex;
  flex-direction: row;
}

.small-icons {
  width: 20%;
}

.footer-main > * {
  /* border: 1px solid red; */
}

.footer-main {
  margin-top: 50px;
  padding: 40px 30%;
  background: #d8d8d8;
  color: grey;
  font-size:  1.2em;
   text-align: center;
}


.footer-nav li,
.footer-main a {
  display: inline-block; 
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
}

.footer-nav:first-child{
  margin: 0 auto;
  width: 100%;
}

.footer-main p {
  margin: 0 auto;
}

.icons-list {
  margin: 20px auto;
  width: 50%;
}

.skeleton-grid {
  background: linear-gradient(
    90deg,
    rgba(59, 59, 59, 0.3) 25%,
    rgba(83, 83, 83, 0.2)  50%,
    rgba(59, 59, 59, 0.3) 75%
  );
  background-size: 200% 100%;
  animation: shimer 3s infinite;
  border-radius: 8px;
}

@media screen and (max-width: 800px) { 
  .expandables {
    flex-direction: row;
  }

  .signup-form {
    padding: 0px 10%
  }

  .user-card {
    width: 90%;
  }

  .auth-options {
    flex-direction: column;
  }

  .menu-dropout {
    display: flex;
    justify-content: end;
    margin: 10px auto;
    padding: 15px;
  }

  .hidden {
    display: none;
  }
}

@keyframes shimer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

