@import "tailwindcss";

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background: #F9F3F5;

}

a, button {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.container {
  background: white;
  max-width: 95%;
  margin: 10px auto;
  padding: 20px 10px;
  border: 1px solid #dccfde;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* .reviews > * {
  border: 1px solid red;
} */

.reviewList {
  background: #F9F3F5;
  padding: 10px;
}



.reviews p {
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
}

.reviewItem {
  justify-content: start;
  gap: 10px;
  /* max-height: max-content; */
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  width: 350px;
  padding: 15px;
  margin: 0 auto;
  background: white;
}

.property-card {
  padding: 5px;
}

.property-card-img {
  border-radius: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* .custom-toolbar {
  margin: 0 auto;
} */

.favourited{
  filter: invert(7%) sepia(89%) saturate(6270%) hue-rotate(351deg) brightness(134%) contrast(121%);
}

.property {
  text-align: center;
}

.expandable {
  background: inherit;
  border: none;
  border-bottom: 1px solid grey;
  cursor:none;
}

.toolbar {
  /* border: 1px solid red; */
  background: #FFF7FA;
  padding: 20px;
  justify-content: center;
  border: 1px solid rgb(236, 191, 191);
}

.toolbar div {
  display: flex;
  justify-content: center;
  /* max-width: 300px; */
  margin: 10px auto;
}

.btn {
  border: 1px solid grey;
  padding: 10px 50px;
  margin: 10px auto;
  background: #BD003F;
  color: white;
  font-weight: bold;

}

.accent {
  accent-color: #BD003F;
}

.stars {
  justify-content: center;
  gap: 5px;
}

.checked {
  filter: invert(90%) sepia(43%) saturate(773%) hue-rotate(6deg) brightness(100%) contrast(102%);
}

.unchecked {
  filter: invert(57%) sepia(1%) saturate(3484%) hue-rotate(25deg) brightness(81%) contrast(88%);
}